### Importing the libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [2]:
diamonds_df = pd.read_csv('diamonds.csv')
diamonds_df

,id,url,shape,price,carat,cut,colour,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119100,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119101,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119102,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119103,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119104,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

## Answer 1

- Use `@interact` to toggle options
- Checking the origin of the data
- Pivoting the data to feed into the heatmap
- Plotting the heatmap

In [3]:
@interact(Origin=(['All','Natural','Lab']))
def plot_diamond(Origin):

    clarity_order = ['SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']

    if Origin=='Natural':
        data = diamonds_df[diamonds_df['type'] == 'natural']
    elif Origin=='Lab':
        data = diamonds_df[diamonds_df['type'] == 'lab']
    else:
        data = diamonds_df

    heatmap_data = data.pivot_table(index='colour', columns='clarity', values='carat', aggfunc='mean')
    heatmap_data = heatmap_data[clarity_order]

    fig, ax = plt.subplots(figsize=(6, 4))
    sns.heatmap(heatmap_data, cmap='mako')
    ax.set_xlabel('clarity')
    ax.set_ylabel('color')
    plt.show()

interactive(children=(Dropdown(description='Origin', options=('All', 'Natural', 'Lab'), value='All'), Output()â€¦

### Answer 2

In [4]:
athletes_df = pd.read_csv('olympic_athletes.csv')
athletes_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
athletes_filtered = athletes_df[(athletes_df['Year'] >= 2000) & (athletes_df['Year'] <= 2016) & (athletes_df['Medal']=='Gold')]
athletes_filtered

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
73,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
76,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
78,20,Kjetil Andr Aamodt,M,34.0,176.0,85.0,Norway,NOR,2006 Winter,2006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Super G,Gold
79,21,Ragnhild Margrethe Aamodt,F,27.0,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
172,72,Aleksey Aleksandrovich Abalmasov,M,28.0,180.0,83.0,Belarus,BLR,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270610,135343,Aleksandr Yuryevich Zubkov,M,39.0,189.0,102.0,Russia-1,RUS,2014 Winter,2014,Winter,Sochi,Bobsleigh,Bobsleigh Men's Four,Gold
270934,135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold

In [6]:
sports = ['Combined', 'Swimming', 'Wrestling', 'Fencing', 'Athletics', 'Shooting', 'Cycling', 'Rowing', 'Gymnastics']

In [7]:
@interact(Sport=(sports), kde=False, display_data=False)
def plot_athletes(Sport, kde=False, display_data=False):
    if not Sport=='Combined':
        sport_filtered = athletes_filtered[(athletes_filtered['Sport']==Sport)]
    else:
        sport_filtered = athletes_filtered
    
    fig, ax = plt.subplots(figsize=(6,4))
    
    if kde:
        sns.kdeplot(sport_filtered, x='Weight', y='Height', fill=True, cmap='Blues')
    else:
        sns.histplot(sport_filtered, x='Weight', y='Height', binwidth=5, cmap='Blues')

    if display_data:
        sns.scatterplot(sport_filtered, x='Weight', y='Height',hue='Sex', ec='w')


    plt.xlim(20, 140)
    plt.ylim(130, 220)
    plt.show()

interactive(children=(Dropdown(description='Sport', options=('Combined', 'Swimming', 'Wrestling', 'Fencing', 'â€¦

### Answer 3

In [8]:
cars_df = pd.read_csv('used_cars.csv')
cars_df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,Audi
1,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,Audi
2,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,Audi
3,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,Audi
4,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,Audi
...,...,...,...,...,...,...,...,...,...,...
99182,Eos,2012,5990,Manual,74000,Diesel,125.0,58.9,2.0,Volkswagen
99183,Fox,2008,1799,Manual,88102,Petrol,145.0,46.3,1.2,Volkswagen
99184,Fox,2009,1590,Manual,70000,Petrol,200.0,42.0,1.4,Volkswagen
99185,Fox,2006,1250,Manual,82704,Petrol,150.0,46.3,1.2,Volkswagen
99186,Fox,2007,2295,Manual,74000,Petrol,145.0,46.3,1.2,Volkswagen

In [9]:
# cars_df['model'] = cars_df['model'].str.strip()

In [10]:
cars_df[cars_df['model'] == 'Corolla']

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax, mpg, engineSize, brand]
Index: []

In [11]:
def get_brands(year):
    brands = cars_df[cars_df['year']==year]['brand'].unique()
    return list(brands)

In [12]:
def get_models(brand):
    models = cars_df[cars_df['brand']==brand]['model'].unique()
    return list(models)

In [13]:
def get_year_models(year):
    models = cars_df[cars_df['year']==year]['model'].unique()
    return list(models)

In [14]:
yr = widgets.Dropdown(options=cars_df['year'].unique(), description='Year')
brands_dropdown = widgets.Dropdown(options=get_brands(yr.value), description='Brand')
models_dropdown = widgets.SelectMultiple(description='Model')

def update_brands_options(change):
    selected_year = change.get('new')
    brands = get_brands(selected_year)
    brands_dropdown.options = brands

def update_models_options(change):
    selected_brand = change.get('new')
    models = get_models(selected_brand)
    year_models = get_year_models(yr.value)
    filtered_models = [model for model in models if model in year_models]
    models_dropdown.options = filtered_models

yr.observe(update_brands_options, names='value')
brands_dropdown.observe(update_models_options, names='value')

update_brands_options({'new': list(cars_df['year'].unique())[0]})
update_models_options({'new': list(cars_df['brand'].unique())[0]})

@interact(Year=yr, Brand=brands_dropdown, Model=models_dropdown)
def plot_cars(Year, Brand, Model):
    fig, ax = plt.subplots(figsize=(8,6))
    series_brand_model = cars_df[(cars_df['year'] == Year) & cars_df['model'].isin(Model)]
    sns.scatterplot(series_brand_model, x='price', y='mileage', hue='model')
    ax.set_xlabel('Price')
    ax.set_ylabel('Mileage')
    ax.set_title(f'{Year} {Brand}')

interactive(children=(Dropdown(description='Year', options=(2017, 2016, 2019, 2015, 2014, 2018, 2013, 2020, 20â€¦

## Attributions

1. Ipywidgets - https://pypi.org/project/ipywidgets/
2. Professor's Lectures - Lecture 23 and 24
3. HistPlot - https://seaborn.pydata.org/generated/seaborn.histplot.html
4. KDEPlot - https://seaborn.pydata.org/generated/seaborn.kdeplot.html
5. ScatterPlot - https://seaborn.pydata.org/generated/seaborn.scatterplot.html
6. Observe for dependent variables - https://ipywidgets.readthedocs.io/en/latest/examples/Using%20Interact.html#arguments-that-are-dependent-on-each-other
7. Trigger an event after another - https://discourse.jupyter.org/t/how-do-i-trigger-an-event-after-a-widget-is-displayed/18506/4